
.form-container{
    width: 50%;
    margin: auto;
    background-color:rgb(61, 16, 104);
    color: white;
    padding:20px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.form-input{ 
    margin-top: 20px;
    text-align: center;
}

.form-input input{
    padding: 10px;
    height: 30px;
    font-size: 1.5rem;
    width: 60%;
    border-radius: 5px;
    margin-bottom: 10px;
    border: none;
}

.form-input input:focus{
    outline: 2px solid rgb(149, 88, 229);
}

.form-input button{
    width: 15%;
    height: 40px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 3px 0.1px rgb(230, 223, 229);
    margin-right: 15px;
}

.clear{
    background: var(--hover-bg-color);
    margin-top: 10px;
}

.create{
    background: var(--bg-color);
    margin-top: 10px;
}

